* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}
.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 999px;
}
.header__center input {
  border: none;
  padding: 10px;
  width: 250px;
  outline-width: 0;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 7%;
  width: 15vw;
  margin-right: 80px;
  text-decoration: none;
  text-emphasis: none;
}
.header__right a:hover,
.header__right a:active {
  text-decoration: none;
}

.header__right a:link,
.header__right a:visited {
  background-color: white;
  border: none;
  color: #ff7779;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transition: transform 0.2s;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  padding-left: 4%;
  padding-right: 4%;
}
.header__right a:hover,
.header__right a:active {
  cursor: pointer;
  text-decoration: none;
  background-color: whitesmoke;
  border-radius: 99px;
  transform: scale(1.5);
}
#become-a-host {
  padding-top: 15px;
  font-size: 14px;
  transition: transform 0.2s !important;
  text-decoration: none;
}



.banner {
  display: flex;
  flex-direction: row;
  background-color: black;
  max-height: 674px;
}
.banner__info {
  flex: 1;
  color: white;
  padding-top: 35vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 100%;
}


.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}
.bannerfont {
  font-family: "Aladin", cursive;
}
.banner__info > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: white;
  color: #ff7779;
}

.banner__info > h5 {
  margin-top: 10px;
}
.explore {
  border: 1px white solid !important;
}
.search-dates-button {
  border-radius: 0 !important;
  width: 100% !important;
  border: none !important;
  background-color: white !important;
  color: #ff7779 !important;
}

/*FOOTER*/
.footer {
  background: #303036;
  color: #d3d3d3;
  height: 400px;
  position: relative;
}

.footer .footer-content {
  height: 350px;
  display: flex;
}

.footer .footer-content h1,
.footer .footer-content h2 {
  color: white;
}

.footer .footer-content .about h1 span {
  color: #05f7ff;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1en;
  margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
  color: white;
  border: 1px solid gray;
  height: 41px;
  width: 45px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: all .2s;
}

.footer .footer-content .about .socials a:hover {
  border: 1px solid white;
  color: white;
  transition: all .2s;
}

.footer .footer-content .links ul a {
  display: block;
  margin: 10px;
  color: white;
  font-size: 1.2em;
}

.footer .footer-content .links ul a:hover {
  color: white;
  margin-left: 15px;
  transition: all .2s;
}

.footer .footer-content .contact-form .contact-input {
  background: #272727;
  color: #bebebd;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: 0.7rem 1.2rem;
  border: none;
}

.footer .footer-content .contact-form .contact-input:focus {
  background: #1a1a1a;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  height: 50px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.text-input {
  width: 100%;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;

}

/* Category Ads */

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}

.card-image {
height: 300px;
padding: 40px;
}

#ads .card-detail-badge {      
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;        
    }

   

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: relative;
        background-color: #e6de08;
    }

#ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }