  

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #086972;
    z-index: 100;
    width: 100%;
  }

  .header__icon {
    padding: 10px;
    object-fit: contain;
    height: 90px;
    margin-left: 20px;
  }
  .header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 999px;
  }
  .header__center input {
    border: none;
    padding: 10px;
    width: 250px;
    outline-width: 0;
  }
  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 7%;
    width: 15vw;
    margin-right: 80px;
    text-decoration: none;
    text-emphasis: none;
  }
  .header__right a:hover,
  .header__right a:active {
    text-decoration: none;
  }
  
  .header__right a:link,
  .header__right a:visited {
    background-color: #086972;
    border: none;
    color: #353b48;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    transition: transform 0.2s;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    display: inline-block;
    padding-left: 4%;
    padding-right: 4%;
  }
  .header__right a:hover,
  .header__right a:active {
    cursor: pointer;
    text-decoration: none;
    background-color: whitesmoke;
    border-radius: 99px;
    transform: scale(1.5);
  }
  #become-a-host {
    padding-top: 15px;
    font-size: 20px;
    transition: transform 0.2s !important;
    text-decoration: none;
  }



  .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }