* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}
.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 999px;
}
.header__center input {
  border: none;
  padding: 10px;
  width: 250px;
  outline-width: 0;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}
.banner {
  display: flex;
  flex-direction: row;
  max-height: 674px;
}
.banner__info {
  background-color: black;
  color: white;
  padding-top: 35vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 100%;
}
.banner__image {
  flex: 1;
}
.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}
.bannerfont {
  font-family: "Aladin", cursive;
}
.banner__info > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: white;
  color: #ff7779;
}

.banner__info > h5 {
  margin-top: 10px;
}
.explore {
  border: 1px white solid !important;
}
.search-dates-button {
  border-radius: 0 !important;
  width: 100% !important;
  border: none !important;
  background-color: white !important;
  color: #ff7779 !important;
}
